---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: openebs-ci-backend
  name: openebs-ci-backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openebs-ci-backend
  template:
    metadata:
      labels:
        app: openebs-ci-backend
    spec:
      containers:
      - env:
        - name: TOKEN
          value: ""
        - name: DBHOST
          value: ""
        - name: DBPORT
          value: ""
        - name: DBUSER
          value: ""
        - name: DBPASS
          value: ""
        - name: DBNAME
          value: ""
        name: openebs-ci-backend
        image: chandankumar4/database:v3
        imagePullPolicy: Always
        ports:
          - containerPort: 3000
            protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: openebs-ci-backend
  name: openebs-ci-backend-service
  namespace: default
spec:
  ports:
  - name: openebs-ci-backend
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: openebs-ci-backend
  type: ClusterIP     